/* width, height */

div, span{
    border: solid;

    /* min-width: 200px;
    max-width: 500px;
    width: 300px; */

    min-height: 200px;
    max-height: 500px;
    height: 1500px;
}