div, span{
    border: solid;
}

.margin{
    margin: 30px; /*Maniera curta, a mais usada*/
    margin: 30px 10px 80px 4rem; /*Sentido horario*/
    margin: auto; /*lado esquero e direito*/

    margin: 60px /*Acontece um conflito de margin, por isso não ficou um espaço maior no meio entre as divs*/
}