/*Especificidade
    - cada seletor tem um peso
    - soma dos pesos faz a declaração
    se aplicada.

    #id - 100
    .class - 10
    element - 1
*/

#text{
    color: orange;
}

.green{
    color: green;
}

p{
    color: red;
}
