body{
    background-color: grey;
    font: normal 15px arial;
}

h1{
    color: white;
    text-align: center;
}

section{
    background-color: bisque;
    padding: 20px;
    width: 500px;
    border-radius: 15px;
    margin: auto;
    

}

div{
    padding: 5px;
}

#tabela{
    width: 150px;
}

footer{
    color: white;
    font-size: italic;
    text-align: center;
}

